<div class="container">
    <div class="row">
    <button class="btn-btn-primary" (click)= "selectedComponent()">Pick one Component</button>
    <hr>
        <!-- <div class="col-xs-15">
            <successmessage></successmessage>
            
        </div>
        <div class="col-xs-15">
                <Warning-Message></Warning-Message>
                
            </div>
        <div class="col-xs-15">
            <dangermessage></dangermessage>

        </div> -->
        <div class= "col-xs-15" *ngIf="randomComponent">
            <div class="warning-message" *ngIf="!index">

            </div>
            <div class="success-message" *ngIf="index == 1">

            </div>
            <div class="danger-message" *ngIf ="index ==2"></div>
        </div>
        
    </div>
</div>